body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 85vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#search-input{
    width: 85vh;
    margin: 0 auto;
    text-align: left;
}

.navbar {
    background-color: #4a69bd;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
}

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
}
