/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Main Container */
.container {
    width: 85vh;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* Search Input */
#search-input {
    width: 85vh;
    margin: 0 auto;
    text-align: left;
}

/* Navbar Styling */
.navbar {
    background-color: #4a69bd !important; /* Override Bootstrap colors */
    padding: 0.5rem 1rem;
}

/* Navbar Brand */
.navbar-brand {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar Links */
.nav-link {
    color: #ffffff !important;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

/* Main content container */
.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

/* Molstar Viewer container */
.molstar-container {
    width: 48%;
    display: inline-block;
}

/* DataTable container */
.datatable-container {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

/* Molstar Viewer */
#variant-viewer {
    width: 100%;
    height: 60vh;
}



/* Search Drop down*/
#search-dropdown {
    width: 50vh;
}

/* DataTable */
.dash-table-container {
    width: 100%;
    overflow-x: auto;
}

.dash-header {
    background-color: rgb(230, 230, 230);
    font-weight: bold;
}

.dash-cell {
    text-align: left;
    min-width: 100px;
    width: 150px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    
    .molstar-container,
    .datatable-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Global Container */
#page-content {
    width: 90%; /* Full-width layout for other pages */
    margin: 50px ;

}

/* Specific Variants Page Container */
.variants-page-container {
    max-width: 90%; /* Adjust to control the width */
    margin: 0 auto; /* Center the content */
    padding: 10px;
}